$mask-bg: rgba(0, 0, 0, .3);
$box-shadow: 0 0 30px rgba(0, 0, 0, .4);
$modal-z: 10;
$modal-container-z: 11;

.absolute-position {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-wrapper {
  @extend .absolute-position;
  z-index: $modal-z;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  background: $mask-bg;

  &-mask {
    @extend .absolute-position;
    background: $mask-bg;
  }

  &-center,
  &-top,
  &-right,
  &-bottom,
  &-left {
    @extend .absolute-position;
    z-index: $modal-container-z;
    display: flex;
  }

  &-center {
    justify-content: center;
    align-items: center;

    .modal-container {
      min-width: 70%;
    }
  }

  &-top {
    .modal-container {
      width: 100%;
    }
  }

  &-right {
    justify-content: flex-end;
    align-items: flex-start;

    .modal-container {
      height: 100%;
    }
  }

  &-left {
    .modal-container {
      height: 100%;
    }
  }

  &-bottom {
    align-items: flex-end;

    .modal-container {
      width: 100%;
    }
  }

  &-container {
    position: relative;
    box-shadow: $box-shadow;
    background: #fff;
  }
}

// animations, to optimize later
.fade-in {
  animation: .2s ease-in fadeIn;
}

.fade-in-reverse {
  animation: .3s ease-out fadeInReverse;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInReverse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.slide-right {
  animation: .2s ease-in slideRight;
}

.slide-right-reverse {
  animation: .2s ease-out slideRightReverse;
  transform: translateX(-110%);
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideRightReverse {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.slide-left {
  animation: .2s ease-in slideLeft;
}

.slide-left-reverse {
  animation: .2s ease-out slideLeftReverse;
  transform: translateX(110%);
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideLeftReverse {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.slide-down {
  animation: .2s ease-in slideDown;
}

.slide-down-reverse {
  animation: .2s ease-out slideDownReverse;
  transform: translateY(-100%);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDownReverse {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.slide-up {
  animation: .2s ease-in slideUp;
}

.slide-up-reverse {
  animation: .2s ease-out slideUpReverse;
  transform: translateY(100%);
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpReverse {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
