#app,
.error-page {
  height: 100%;
}

.error-page {
  position: relative;
  background: rgb(0, 136, 223);
  color: #fff;

  header {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: rgba(0,0,0,0.85);
  }

  section {
    margin-top: 220px;
    text-align: center;

    img {
      width: 400px;
      height: 200px;
    }
  }

  &-number {
    margin: 0 auto;
    width: 826px;
    height: 392px;
    background: url(~image/500.png) no-repeat;
    background-size: 100%;
  }

  &-error {
    margin-top: 134px;
    margin-bottom: .2rem;
    font-size: 36px;
    font-weight: bold;
  }

  footer {
    width: 100%;
    position: absolute;
    bottom: 200px;
    display: flex;
    justify-content: center;

    .go-home-btn {
      padding: 30px 180px;
      border: 2px solid #fff;
      border-radius: 80px;
      background: transparent;
      color: #fff;
      font-size: 28px
    }
  }
}
